#num {
	border: solid 1px gray;
	margin-bottom: 25px;
}

#ana {
	border: solid 1px gray;
}

#pinName {
	width:100;
}

#pinNumber{
	margin: 0px 50px 0px 25px; 
}

.row {
	margin-left: 0px;
}

#selectPin{
	margin-left: 15px;
}
